.landing-footer-link {
  text-decoration: none;
  text-align: center;
  width: fit-content;
  height: fit-content;
  line-height: 1.8;
  position: relative;
}

.landing-footer-link::before {
  content: "";
  width: 0;
  height: 1px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

:root .landing-footer-link::before {
  background-color: #000000;
}

.dark .landing-footer-link::before {
  background-color: #FFFFFF;
}

.landing-footer-link:hover::before {
  width: 100%;
  left: 0;
}
